@use "@kusite/styles" as *;

.root {
  @include flexbox(row, flex-start, stretch, 1);

  gap: 20px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.primary,
.secondary {
  @include flexbox(column, flex-start, stretch);
}

.primary {
  flex-grow: 1;
}

.secondary {
  width: 300px;
  flex-shrink: 0;

  @media (max-width: 800px) {
    width: 100%;
  }
}
