@use "~#styles/mixins" as *;

.root,
.primary,
.secondary {
  @include flexbox(row, flex-start, stretch, 1);

  gap: 20px;
}

.primary {
  @include flexbox(column, flex-start, stretch, 1);
}

.secondary {
  @include flexbox(column, flex-start, stretch, 0);

  width: 300px;
  flex-shrink: 0;

  @media (max-width: 750px) {
    display: none;
  }
}
