# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/

# --- Node ---
# Dependencies
node_modules/

# Lockfiles
bun.lock

# --- Tools / Bundlers ---
# Rspack / Rslib
.rslib/

# Artifacts
dist/

# Generated
*.scss.d.ts
