@use "@kusite/styles" as *;

.icon-button {
  @include flexbox(column, center, center, 0);

  color: $color-text;
  border: none;
  padding: 0;
  background: none;
  transition: color 300ms;

  &:hover {
    color: $color-text-highlight;
  }
}
