@use "@kusite/styles" as *;

.navigation-link {
  position: relative;
  align-content: center;
  color: $color-text !important;
  transition: color 300ms;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: $container-border-width;
    bottom: -$container-border-width;
    background-color: transparent;
    transition: background-color 300ms;
    pointer-events: none;
  }

  &.navigation-link-active,
  &:not(&.navigation-link-active):hover {
    color: $color-text-highlight !important;
  }

  &.navigation-link-active::after {
    background-color: $color-primary;
  }

  &:not(&.navigation-link-active):hover::after {
    background-color: $color-text;
  }
}
