@use "~#styles/variables" as *;
@use "~#styles/mixins" as *;

.root {
  @include flexbox(column, flex-start, stretch, 1);

  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  gap: 20px;
}

.header,
.footer {
  @include flexbox(row, center, center, 0);

  height: 45px;
}

.content,
.header-content,
.navigation-rail {
  @include flexbox(row, flex-start, stretch, 1);
}

.action-rail {
  @include flexbox(row, flex-start, center, 0);
}

.action-rail,
.header-content,
.navigation-rail {
  gap: 35px;
  height: 100%;
}

.header-content {
  padding: 0 25px;
}

.header-logo {
  width: 45px;
  height: 45px;
  outline: $color-container-border solid $container-border-width;
  border-radius: $container-border-radius 0 0 $container-border-radius;
}
