@use "@kusite/styles" as *;

.link {
  color: $color-text-highlight;
  &:not(:visited) {
    color: $color-primary;
  }

  text-decoration: underline;
  text-decoration-color: transparent;

  &.underline-never {
    text-decoration: none;
  }

  &.underline-always,
  &.underline-hover:hover {
    text-decoration-color: $color-text-highlight;
    &:not(:visited) {
      text-decoration-color: $color-primary;
    }
  }
}
