$font-primary: "Jetbrains Mono";

$color-background: #0f0f0f;
$color-container: #171717;
$color-container-border: #1e1e1e;
$color-divider: #555;
$color-text: #959595;
$color-text-highlight: #d9d9d9;
$color-primary: #ff6600;

$container-gap: 16px;
$container-padding: 12px;
$divider-thickness: 2px;
$container-border-width: 2px;
