.navigation-link {
  color: var(--color-text);

  list-style: none;
  align-content: center;

  border-bottom: 2px solid transparent;
  text-decoration: none;

  transition:
    color 300ms,
    border-bottom-color 300ms;

  &.navigation-link-active {
    color: var(--color-text-highlight);
    border-bottom-color: var(--color-primary);
  }

  &:not(&.navigation-link-active):hover {
    color: var(--color-text-highlight);
    border-bottom-color: var(--color-text);
  }
}
