@use "@kusite/styles" as *;

.layout-root {
  @include flexbox(column, flex-start, stretch, 1);

  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: $container-gap;
  padding: $container-padding;
}

.layout-header {
  gap: $container-gap;
  height: 45px;
}

.layout-footer {
  height: 45px;
  justify-content: center;
}

.layout-content {
  flex-grow: 1;
}

.layout-navigation-rail {
  flex-grow: 1;
  align-items: stretch;
  gap: $container-gap;
  height: 100%;
}

.layout-action-rail {
  gap: $container-gap;
  height: 100%;
}
