html,
body {
  border: 0;
  margin: 0;
  padding: 0;

  height: 100%;
  box-sizing: border-box;

  font-family: var(--font-primary), monospace;
}

* {
  box-sizing: inherit;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
