.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin-inline: auto;

  gap: 15px;
  padding: 15px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}
